.Iconbutton{
    width: 100px;
    height: 60%;
    
}

.Box{
    display: flex;
    gap: 20px;
    background-color: white;
    height: 80px;
}


.Box>button{
    margin-left: 450px;
    width: 150px;
    height: 60%;
    margin-left: 400px;
}


.Boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 400px;
    height: 100%;
    margin-left: 700px;
}



.Appbar_img{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 200px;
    gap: 10px ;
    height: 100%;
    color: blue;
}